*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: minmax(75px, 300px) 100px minmax(60px, 300px);
    grid-auto-rows: repeat(3, auto);

}
.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
} 