*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}
.reto1{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;    
    grid-auto-flow: column ;
    gap: 20px;
}
.reto2{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    place-content: center;
    gap:20px
}
.item2{
    place-self: end;
}
.muro {
    border: 5px solid #0b4a3b;
    font-size: 4rem;
}
.reto3{
    border: 5px solid #4d2597;
    background-color: #70bc04;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows:  100px 100px 100px;  
    place-content: center; 
}

.itemA {
    background-color: cornflowerblue;    
}
.itemB {
    background-color: #00bcd4;    
    grid-column-start: 2;
    grid-column-end: 4;
}
.itemC {
    background-color: cornflowerblue;    
    grid-column-start: 1;
    grid-column-end: 3;
}
.itemD {
    background-color: #00bcd4;        
}
.itemE {
    background-color: #115139;    
    
}.itemF {
    background-color: #d46d00;    
    
}.itemG {
    background-color: #1d1a7d;    
    
}